*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

h1,
li,
section,
.col1,
.col2,
.col3,
footer{
	background-color: orange;
}

/*header{
	overflow: hidden;
}*/

header h1{
	float: left;
	min-height: 100px;
	min-width: 150px;
}

header nav{
	float: right;
	margin-top: 20px;
}

header nav ul li{
	float: left;
	min-width: 100px;
	min-height: 33px;
	list-style: none;
	margin-right: 10px;
}

section{
	float: left;
	min-width: 100%;
	min-height: 300px;
	margin-top: 15px;
	margin-bottom: 15px;
	/*overflow: hidden;*/
}

.col1,
.col2,
.col3{
	min-height: 200px;
	width: 32%;
	margin-right: 2%;
	float: left;
}

.col3{
	margin-right: 0;
}

footer{
	float: left;
	min-width: 100%;
	min-height: 100px;
	margin-top: 15px;
}

